*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.time_box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
}
.time_box h2{
    font-size: 40px;
    color: #fff;
}

.icon_box{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.icon_box i{
    font-size: 40px;
    color: #fff;

}
.select_date_box{
    margin-left: 10px;
}
.select_date_box input{
    padding: 4px 10px;
    font-size: 20px;
}
.select_date_box button{
    padding: 4px 10px;
    font-size: 20px;
}
.active{
    display: block;
}
.hide{
    display: none;
}

.date_boxs{
    font-size: 20px;
    display: flex;
    gap: 30px;
}
